@tailwind base;
@tailwind components;
@tailwind utilities;

.menu_list {
    @apply px-32 py-8 hover:bg-orange-500 text-white border-r border-slate-700 text-lg;
}
.inputform {
    @apply border-2 w-96 p-2;
}
.biginput{
    @apply my-4
}
.inffo{
    @apply font-bold py-1
}
.formm{
    width: 450px;
    margin-left: 520px;
    margin-bottom: 10px;
}
.validater {
    top: 62px;
    right: 135px; 
    display: none;
}
.headeracc:hover .validater{
    display: block;
    /* background-color: aqua; */
}
.validater::after{
    position: absolute;
    top: -20px;
    left: 0;
    /* content: ""; */
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    opacity: 0;
}
.form-label{
    font-weight: 600;
}
.navbar{
    @apply ml-8;
}
.table-cart{
    width: 1000;
}
/* .news {
    @apply my-12
}
.iteam h2 {
    @apply text-lg font-bold
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.trip{
    position: relative; /* Ä‘á»‹nh vá»‹ vá»‹ trÃ­ cá»§a khá»‘i div trip */
    width: fit-content; /* Ä‘á»™ rá»™ng cá»§a khá»‘i fit Ä‘Ãºng ná»™i dung bÃªn trong */
    overflow: hidden; /* nhá»¯ng thÃ nh pháº§n nÃ o náº±m ngoÃ i pháº¡m vi hiá»ƒn thá»‹ cá»§a khá»‘i sáº½ bá»‹ áº©n Ä‘i */
}
.info{
    position: absolute;
    top:0;
    height: 250px;
    background-color: #fff;
    width: 100%;    /* Ä‘á»™ rá»™ng cá»§a khá»‘i info = Ä‘á»™ rá»™ng cá»§a khá»‘i trip */
    transform: translateY(-250px); /* khá»‘i info di chuyá»ƒn theo trá»¥c Y (tháº³ng Ä‘á»©ng) - lÃ¹i xuá»‘ng phÃ­a dÆ°á»›i 120px */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s; 
    /* ease-in-out: tÄƒng Ä‘á»™ mÆ°á»£t cho animation 
        1s: thá»i gian diá»…n ra animation
    */
    animation-name: fadeOut;    
    /* animation-duration: 1s;      */
}
.info h2, .info p{
    display: block;
    width: 100%; 
    text-align: center;
    padding: 10px 0;
}
.info button{
    display: block;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}
.trip:hover .info{
    /* khi hover vÃ o khá»‘i trip thÃ¬ thay Ä‘á»•i thuá»™c tÃ­nh css cá»§a khá»‘i info */
    transform: translateY(0); /* di chuyá»ƒn Ä‘i lÃªn, trá»Ÿ láº¡i vá»‹ trÃ­ ban Ä‘áº§u */
    /* transition: ease-in-out 1s;  */
    /* ease-in-out: tÄƒng Ä‘á»™ mÆ°á»£t cho animation 
        1s: thá»i gian diá»…n ra animation
    */
    animation-name: fadeIn;     
    /* animation-duration: 1s;      */
    /* border: 1px solid red; */
}
.container{
    border: 1px solid gray;
    width: 280px;
}
.container:hover {
    border: 1px solid red;

}

@keyframes fadeIn{  /* Ä‘á»‹nh nghÄ©a  animation*/
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
