@tailwind base;
@tailwind components;
@tailwind utilities;

.menu_list {
    @apply px-32 py-8 hover:bg-orange-500 text-white border-r border-slate-700 text-lg;
}
.inputform {
    @apply border-2 w-96 p-2;
}
.biginput{
    @apply my-4
}
.formm{
    width: 450px;
    margin-left: 520px;
    margin-bottom: 10px;
}
.validater {
    top: 65px;
    right: 135px;
    display: block;
}
.headeracc:hover .validater{
    display: block;
    /* background-color: aqua; */
}
.form-label{
    font-weight: 600;
}
.navbar{
    @apply ml-8;
}
.table-cart{
    width: 1000;
}
/* .news {
    @apply my-12
}
.iteam h2 {
    @apply text-lg font-bold
} */